[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:Alacritty.desktop,applications:visual-studio-code.desktop

[Containments][1][Applets][21]
immutability=1
plugin=org.kde.plasma.userswitcher

[Containments][1][Applets][21][Configuration]
PreloadWeight=40

[Containments][1][Applets][21][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.windowtitle

[Containments][1][Applets][4][Configuration]
PreloadWeight=0

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4][Configuration][General]
containmentType=Latte
iconFillThickness=false
iconSize=16

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][5][Configuration]
PreloadWeight=0

[Containments][1][Applets][6]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][1][Applets][6][Configuration]
PreloadWeight=0

[Containments][1][Applets][6][Configuration][Appearance]
customDateFormat=MMM d
dateFormat=customDate
fixedFont=true
fontFamily=SF Pro Display
fontSize=15
use24hFormat=2

[Containments][1][Applets][6][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][7]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][7][Configuration]
PreloadWeight=100
SystrayContainmentId=8

[Containments][1][ConfigDialog]
DialogHeight=671
DialogWidth=509

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=4;5;6;2;7;21
blurEnabled=false
dragActiveWindowEnabled=true
durationTime=x1
iconSize=18
lengthExtMargin=2
lockedZoomApplets=4;6
mouseWheelActions=false
panelPosition=10
panelSize=100
panelTransparency=25
plasmaBackgroundForPopups=true
shadowOpacity=60
shadowSize=45
shadows=None
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=2
splitterPosition2=4
thickMargin=10
titleTooltips=false
userBlocksColorizingApplets=5
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
extraDotOnActive=true

[Containments][8]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=10
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][8][Applets][10]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][8][Applets][10][Configuration]
PreloadWeight=0

[Containments][8][Applets][11]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][8][Applets][11][Configuration]
PreloadWeight=0

[Containments][8][Applets][12]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][8][Applets][12][Configuration]
PreloadWeight=0

[Containments][8][Applets][13]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][8][Applets][13][Configuration]
PreloadWeight=0

[Containments][8][Applets][14]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][8][Applets][14][Configuration]
PreloadWeight=5

[Containments][8][Applets][15]
immutability=1
plugin=org.kde.plasma.vault

[Containments][8][Applets][15][Configuration]
PreloadWeight=0

[Containments][8][Applets][17]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][8][Applets][17][Configuration]
PreloadWeight=5

[Containments][8][Applets][22]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][8][Applets][22][Configuration]
PreloadWeight=43

[Containments][8][Applets][23]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][8][Applets][23][Configuration]
PreloadWeight=18

[Containments][8][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][8][Applets][9][Configuration]
PreloadWeight=59

[Containments][8][Applets][9][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][8][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][8][General]
extraItems=org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.vault,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.keyboardindicator,org.kde.plasma.mediacontroller,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.volume,discord,KMix
hiddenItems=discord,KMix
knownItems=org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.vault,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.keyboardindicator,org.kde.plasma.mediacontroller,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.volume
scaleIconsToFit=true
shownItems=org.kde.plasma.battery

[LayoutSettings]
background=
color=blue
lastUsedActivity=701c29ef-44a0-4ea1-8ff2-bb9261768081
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2
